.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
  }
  
  .navbar li {
    margin: 0 20px;
    border: 0px;
  }
  
  .navbar a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #0077b5;
  }
  